<app-navbar></app-navbar>

<!-- dashboard.component.html -->
<div class="dashboard-container">
  <!-- Vertical Navbar -->
  <div class="navbar">
    <!-- Navbar content goes here -->
    <ul>
      <li><a href="#">Home</a></li>
      <li><a routerLink="/edit-profile">Profile</a></li>
      <li><a routerLink="/edit-profile2">Edit Profile</a></li>
      <li><a href="#">View Complaint</a></li>
      <li><a href="#">Update Complaint</a></li>
      <li><a href="#">Create Order</a></li>
      <li><a href="#">View Orders</a></li>
      <li><a href="#">Users</a></li>
   
      <!-- Add more items here if needed -->
    </ul>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <!-- Main content goes here -->
    <h1>Welcome to Your Dashboard</h1>
    <p>This is the main content area where you can display various dashboard components.</p>
  </div>
</div>




<app-footer></app-footer>